<div class="container">
  <h1>Add a Power</h1>
  <%= simple_form_for [@monster, @curse] do |f| %>
    <%= f.association :power, collection: @powers, include_blank: false  %>
    <%= f.submit 'Add', class: 'btn btn-danger' %>
  <% end %>
</div>
